<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1605,1156}}</string>
                <key>offset</key>
                <string>{131,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,0},{1605,1156}}</string>
                <key>sourceSize</key>
                <string>{1883,1192}</string>
            </dict>
            <key>items_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1158},{861,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{861,600}}</string>
                <key>sourceSize</key>
                <string>{861,644}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,0},{180,137}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{180,137}}</string>
                <key>sourceSize</key>
                <string>{258,175}</string>
            </dict>
            <key>pause_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,0},{99,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,87}}</string>
                <key>sourceSize</key>
                <string>{99,87}</string>
            </dict>
            <key>pause_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,0},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{91,81}}</string>
                <key>sourceSize</key>
                <string>{99,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19123eaa6902f2e84217d2f54d2766d2:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
