<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>affirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,870},{99,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>allServer.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,642},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,640}}</string>
                <key>sourceSize</key>
                <string>{1024,640}</string>
            </dict>
            <key>blackBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,993},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btnEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,805},{161,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,61}}</string>
                <key>sourceSize</key>
                <string>{161,61}</string>
            </dict>
            <key>btnRegist.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,642},{161,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,61}}</string>
                <key>sourceSize</key>
                <string>{161,61}</string>
            </dict>
            <key>chatBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,971},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,993},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enterGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,642},{349,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,94}}</string>
                <key>sourceSize</key>
                <string>{349,94}</string>
            </dict>
            <key>grey_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,826},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>lapBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,993},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,642},{226,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,78}}</string>
                <key>sourceSize</key>
                <string>{226,78}</string>
            </dict>
            <key>listLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,642},{234,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,9}}</string>
                <key>sourceSize</key>
                <string>{234,9}</string>
            </dict>
            <key>loginBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,866},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,57}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>loginLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,878},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>nameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{381,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,49}}</string>
                <key>sourceSize</key>
                <string>{381,49}</string>
            </dict>
            <key>pwdLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,968},{97,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>recentlyLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,826},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>registerBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,642},{161,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,61}}</string>
                <key>sourceSize</key>
                <string>{161,61}</string>
            </dict>
            <key>server.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,981},{116,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,43}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>serverList.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,642},{182,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,38}}</string>
                <key>sourceSize</key>
                <string>{182,38}</string>
            </dict>
            <key>userName.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,866},{115,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,46}}</string>
                <key>sourceSize</key>
                <string>{115,46}</string>
            </dict>
            <key>userName2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,968},{97,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>userRegister.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,868},{148,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>windowBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,642},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300a8c6a6e6c98e5c32d00590a69ebb8:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
